{
    "openapi": "3.0.0",
    "info": {
        "title": "Projecte ETV",
        "description": "REST API. Projecte ETV. DAW Client i servidor.",
        "contact": {
            "name": "Webmaster.",
            "email": "info@webmaster.cat"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "http://www.dawpaucasesnoves.com/etvServidor/public"
        }
    ],
    "paths": {
        "/api/arquitectes": {
            "get": {
                "tags": [
                    "Arquitectes"
                ],
                "summary": "Mostrar els arquitectes paginats",
                "description": "Display a listing of the resource.",
                "operationId": "f14ff3a8e25dacccb21effaaec33fa44",
                "responses": {
                    "200": {
                        "description": "Mostrar tots els arquitectes de forma paginada.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Arquitectes"
                ],
                "summary": "Crea un arquitecte",
                "description": "Crea un nou arquitecte.",
                "operationId": "67fa059629e7ffc52bdd6353d49cf082",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nom": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Lluís Domènech i Montaner"
                                    },
                                    "data_naix": {
                                        "type": "string",
                                        "format": "yyyy-mm-dd",
                                        "example": "1850-12-21"
                                    },
                                    "descripcio": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Lluís Domènech i Montaner va ser un destacat arquitecte espanyol del modernisme català, nascut el 1850 i mort el 1923.\n     *                                                                                               És conegut per obres emblemàtiques com l'Hospital de Sant Pau i el Palau de la Música Catalana a\n     *                                                                                                   Barcelona, que reflecteixen la seva contribució significativa al desenvolupament arquitectònic de la ciutat durant el segle XIX i principis del XX."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string",
                                            "example": "Bad Request"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        },
                                        "missatge": {
                                            "type": "string",
                                            "example": "Unprocessable Entity"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string"
                                        },
                                        "codi": {
                                            "type": "integer",
                                            "example": "500"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/arquitectes_tots": {
            "get": {
                "tags": [
                    "Arquitectes"
                ],
                "summary": "Mostrar els arquitectes",
                "description": "Display a listing of the resource.",
                "operationId": "3971c83dd61616cd6a23cd0ed3443e20",
                "responses": {
                    "200": {
                        "description": "Mostrar tots els arquitectes.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/arquitectes/{id}": {
            "get": {
                "tags": [
                    "Arquitectes"
                ],
                "summary": "Mostrar un arquitecte",
                "description": "Display the specified resource.",
                "operationId": "2b6f080ef03573031f737490013b7945",
                "requestBody": {
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string",
                                            "example": "Bad Request"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        },
                                        "missatge": {
                                            "type": "string",
                                            "example": "Unprocessable Entity"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string"
                                        },
                                        "codi": {
                                            "type": "integer",
                                            "example": "500"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Arquitectes"
                ],
                "summary": "Modifica un arquitecte",
                "description": "Modifica un arquitecte. Sols per administradors o gestors",
                "operationId": "c394e56ad6d44e4764aa7acf74cf268d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id Arquitecte",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nom": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Lluís Domènech i Montaner"
                                    },
                                    "data_naix": {
                                        "type": "string",
                                        "format": "yyyy-mm-dd",
                                        "example": "1850-12-21"
                                    },
                                    "descripcio": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Lluís Domènech i Montaner va ser un destacat arquitecte espanyol del modernisme català, nascut el 1850 i mort el 1923.\n     *                                                                                                És conegut per obres emblemàtiques com l'Hospital de Sant Pau i el Palau de la Música Catalana a\n     *                                                                                                    Barcelona, que reflecteixen la seva contribució significativa al desenvolupament arquitectònic de la ciutat durant el segle XIX i principis del XX."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string",
                                            "example": "Bad Request"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        },
                                        "missatge": {
                                            "type": "string",
                                            "example": "Unprocessable Entity"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string"
                                        },
                                        "codi": {
                                            "type": "integer",
                                            "example": "500"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Arquitectes"
                ],
                "summary": "Esborra un arquitecte",
                "description": "Esborra un arquitecte. Sols per administradors o gestors",
                "operationId": "f9003ee67cc81e49cdd82a523a4a97ca",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id Arquitecte",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string",
                                            "example": "Bad Request"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        },
                                        "missatge": {
                                            "type": "string",
                                            "example": "Unprocessable Entity"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string"
                                        },
                                        "codi": {
                                            "type": "integer",
                                            "example": "500"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/arquitectes/find/{cerca}": {
            "get": {
                "tags": [
                    "Arquitectes"
                ],
                "summary": "Mostrar els arquitectes que contenguin el filtre de manera paginada",
                "operationId": "d1a96878f92e8e0b0ea2a8c772e86cea",
                "parameters": [
                    {
                        "name": "cerca",
                        "in": "path",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/audios": {
            "get": {
                "tags": [
                    "Audios"
                ],
                "summary": "Mostrar els audios",
                "operationId": "6438c4417715b0d99d1f111214fb5fdc",
                "responses": {
                    "200": {
                        "description": "Mostrar tots els audios.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Àudios"
                ],
                "summary": "Crea un àudio",
                "description": "Crea un nou audio a la base de dades i el puja al servidor.",
                "operationId": "824214a2f963cba05d48ebca6fae29a5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ordre": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    },
                                    "transcripcio": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Transcripció d'un àudio"
                                    },
                                    "fk_puntInteres": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Bad Request"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        },
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/audios/{id}": {
            "get": {
                "tags": [
                    "Audios"
                ],
                "summary": "Mostrar un audio",
                "operationId": "a3719e15994b078d89eb799ccbf3ccdf",
                "requestBody": {
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string",
                                            "example": "Bad Request"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        },
                                        "missatge": {
                                            "type": "string",
                                            "example": "Unprocessable Entity"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string"
                                        },
                                        "codi": {
                                            "type": "integer",
                                            "example": "500"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Audios"
                ],
                "summary": "Modifica un audio",
                "description": "Modifica un audio. Sols per administradors o el gestor del punt d'interes",
                "operationId": "38b6255bf40be6af0c893f9999c443e8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id Àudio",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ordre": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    },
                                    "transcripcio": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Transcripció d'un àudio"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string",
                                            "example": "Bad Request"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        },
                                        "missatge": {
                                            "type": "string",
                                            "example": "Unprocessable Entity"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string"
                                        },
                                        "codi": {
                                            "type": "integer",
                                            "example": "500"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Àudios"
                ],
                "summary": "Esborra un àudio",
                "description": "Esborra un àudio. Sols per administradors o gestors autors de l'audio",
                "operationId": "93f2f39f35540f1b19f92fc178ea6963",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id Àudio",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "missatge": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string",
                                            "example": "Bad Request"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        },
                                        "missatge": {
                                            "type": "string",
                                            "example": "Unprocessable Entity"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string"
                                        },
                                        "codi": {
                                            "type": "integer",
                                            "example": "500"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/comentaris": {
            "get": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Mostrar tots els comentaris",
                "description": "Display a listing of the resource.",
                "operationId": "69fe22b6eafeab12f8a3684db86575f3",
                "responses": {
                    "200": {
                        "description": "Mostrar tots els comentaris."
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Crea un comentari",
                "description": "Crea un nou comentari. El comentari es crearà amb el codi d'usuari validat",
                "operationId": "6e3e362ff04d2761e43f09a67ae18693",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "valoracio": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "2"
                                    },
                                    "fk_espai": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "integer",
                                            "example": "error"
                                        },
                                        "data": {
                                            "type": "string",
                                            "example": "Atribut msg requerit"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/comentaris/{id}": {
            "get": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Mostrar un comentari",
                "description": "Display the specified resource.",
                "operationId": "5030b7bf127e70d0068a1509311d3e98",
                "requestBody": {
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string",
                                            "example": "Bad Request"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        },
                                        "missatge": {
                                            "type": "string",
                                            "example": "Unprocessable Entity"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string"
                                        },
                                        "codi": {
                                            "type": "integer",
                                            "example": "500"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Modifica un comentari",
                "description": "Modifica un comentari",
                "operationId": "f587363d47404bfade42bc6a1dd9fec6",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id Comentari",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "valoracio": {
                                        "type": "integer",
                                        "maximum": 5,
                                        "minimum": 1,
                                        "example": "4"
                                    },
                                    "comentari": {
                                        "type": "string",
                                        "example": "Aquest espai és preciós."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string",
                                            "example": "Bad Request"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        },
                                        "missatge": {
                                            "type": "string",
                                            "example": "Unprocessable Entity"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string"
                                        },
                                        "codi": {
                                            "type": "integer",
                                            "example": "500"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Esborra un comentari",
                "description": "Esborra un comentari.",
                "operationId": "24613a314256a02b217c2bba22cf343f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id Comentari",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string",
                                            "example": "Bad Request"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        },
                                        "missatge": {
                                            "type": "string",
                                            "example": "Unprocessable Entity"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string"
                                        },
                                        "codi": {
                                            "type": "integer",
                                            "example": "500"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/comentaris/validar_invalidar/{id}": {
            "get": {
                "tags": [
                    "Comentaris"
                ],
                "summary": "Canvia l'estat del comentari",
                "operationId": "3aab8c59f8a10a33d7fd7d954f8c4ffc",
                "requestBody": {
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/espais": {
            "get": {
                "tags": [
                    "Espais"
                ],
                "summary": "Mostrar els espais actius",
                "description": "Display a listing of the resource.",
                "operationId": "32000c766b42d09d70b8c5ff4ec7ff7d",
                "responses": {
                    "200": {
                        "description": "Mostrar els espais activats.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Espais"
                ],
                "summary": "Crea un espai",
                "description": "Crea un espai. Sols per administradors o gestors",
                "operationId": "822a1706bbda2c25262cdf56c58fe1af",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nom": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "L'almudaina"
                                    },
                                    "descripcio": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Descripció de l'almudaina"
                                    },
                                    "direccio": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Direcció de l'almudaina"
                                    },
                                    "any_construccio": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1343"
                                    },
                                    "grau_accessibilitat": {
                                        "type": "string",
                                        "enum": [
                                            "alt",
                                            "mitj",
                                            "baix"
                                        ],
                                        "example": "mitj"
                                    },
                                    "web": {
                                        "type": "string",
                                        "format": "web",
                                        "example": "https://www.patrimonionacional.es/visita/palacio-real-de-la-almudaina"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "mail",
                                        "example": "info@patrimonionacional.es"
                                    },
                                    "telefon": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "info@patrimonionacional.es"
                                    },
                                    "fk_municipi": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    },
                                    "fk_gestor": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    },
                                    "fk_tipusEspai": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    },
                                    "serveis": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": "[1,2]"
                                    },
                                    "modalitats": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": "[1,2]"
                                    },
                                    "arquitectes": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": "[1,2]"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string",
                                            "example": "Bad Request"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string",
                                            "example": "Unauthorized"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/espais_per_gestor": {
            "get": {
                "tags": [
                    "Espais"
                ],
                "summary": "Mostrar tots els espais d'un gestor paginats",
                "description": "Display a listing of the resource.",
                "operationId": "d35ddabd98de9cb76ac2885322dd4be6",
                "responses": {
                    "200": {
                        "description": "Mostrar els espais d'un gestor paginats.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/espais_per_gestor_tots": {
            "get": {
                "tags": [
                    "Espais"
                ],
                "summary": "Mostrar tots els espais d'un gestor",
                "description": "Display a listing of the resource.",
                "operationId": "8aeece643a2cd2f54e31b46055048f6e",
                "responses": {
                    "200": {
                        "description": "Mostrar els espais d'un gestor.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/espais_per_gestor/find/{cerca}": {
            "get": {
                "tags": [
                    "Espais"
                ],
                "summary": "Mostrar tots els espais d'un gestor que compleixin amb un filtre de forma paginada",
                "description": "Display a listing of the resource.",
                "operationId": "46825b01a04f727b6167559b07d00cf4",
                "responses": {
                    "200": {
                        "description": "Mostrar els espais d'un gestor que compleixin amb un filtre de forma paginada.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/espais/{id}": {
            "get": {
                "tags": [
                    "Espais"
                ],
                "summary": "Mostrar un espai",
                "description": "Display the specified resource.",
                "operationId": "ef0348f8e348d22b8fca6ef9e27225b4",
                "requestBody": {
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Espais"
                ],
                "summary": "Modifica un espai",
                "description": "Modifica un espai. Sols per administradors o gestors",
                "operationId": "e3f9fb57fec4ae81633f1b5344ccf34b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id Arquitecte",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nom": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "L'almudaina"
                                    },
                                    "descripcio": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Descripció de l'almudaina"
                                    },
                                    "direccio": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "Direcció de l'almudaina"
                                    },
                                    "any_construccio": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1343"
                                    },
                                    "grau_accessibilitat": {
                                        "type": "string",
                                        "enum": [
                                            "alt",
                                            "mitj",
                                            "baix"
                                        ],
                                        "example": "mitj"
                                    },
                                    "web": {
                                        "type": "string",
                                        "format": "web",
                                        "example": "https://www.patrimonionacional.es/visita/palacio-real-de-la-almudaina"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "mail",
                                        "example": "info@patrimonionacional.es"
                                    },
                                    "telefon": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "info@patrimonionacional.es"
                                    },
                                    "fk_municipi": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    },
                                    "fk_gestor": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    },
                                    "fk_tipusEspai": {
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "1"
                                    },
                                    "serveis": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": "[1,2]"
                                    },
                                    "modalitats": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": "[1,2]"
                                    },
                                    "arquitectes": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": "[1,2]"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string",
                                            "example": "Bad Request"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string",
                                            "example": "Unauthorized"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Espais"
                ],
                "summary": "Esborra un espai",
                "description": "Esborra un espapi. Sols per administradors o gestors",
                "operationId": "79b011b27ac9230dec7e4e5d7fc24853",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id Espai",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string",
                                            "example": "Bad Request"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        },
                                        "missatge": {
                                            "type": "string",
                                            "example": "Unprocessable Entity"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string"
                                        },
                                        "codi": {
                                            "type": "integer",
                                            "example": "500"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "error",
                                            "example": "error"
                                        },
                                        "missatge": {
                                            "type": "string",
                                            "example": "Unauthorized"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/espais/{id}/activar_desactivar": {
            "get": {
                "tags": [
                    "Espais"
                ],
                "summary": "Display a listing of the resource.",
                "operationId": "56a4ab7b4a49c6d40657aaf2867f329f",
                "responses": {
                    "200": {
                        "description": "Mostrar els espais d'un gestor que compleixin amb un filtre de forma paginada.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string",
                                            "example": "Bad Request"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/illes": {
            "get": {
                "tags": [
                    "Illes"
                ],
                "summary": "Mostrar totes les illes",
                "description": "Display a listing of the resource.",
                "operationId": "e4890d980e53c9af3d9a81767b2b989b",
                "responses": {
                    "200": {
                        "description": "Mostrar totes les illes.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/illes/{id}": {
            "get": {
                "tags": [
                    "Illes"
                ],
                "summary": "Mostrar una illa",
                "description": "Store a newly created resource in storage.",
                "operationId": "7071b2800e6eb1c8d10566a940e260a5",
                "requestBody": {
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string",
                                            "example": "Bad Request"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        },
                                        "missatge": {
                                            "type": "string",
                                            "example": "Unprocessable Entity"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string"
                                        },
                                        "codi": {
                                            "type": "integer",
                                            "example": "500"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/modalitats": {
            "get": {
                "tags": [
                    "Modalitats"
                ],
                "summary": "Mostrar les modalitats paginades",
                "description": "Display a paginated listing of the resource.",
                "operationId": "ba5c3a08cef8ccd62bf83ee7e6a71859",
                "responses": {
                    "200": {
                        "description": "Mostrar totes les modalitats de forma paginada.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Modalitats"
                ],
                "summary": "Crea una modalitats",
                "description": "Crea una nova modalitat.",
                "operationId": "605b9ca2660c73b8c1765786348ad1c6",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nom": {
                                        "type": "string",
                                        "format": "string",
                                        "example": "pintura"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string",
                                            "example": "Bad Request"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errors": {
                                            "type": "object"
                                        },
                                        "missatge": {
                                            "type": "string",
                                            "example": "Unprocessable Entity"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "missatge": {
                                            "type": "string"
                                        },
                                        "codi": {
                                            "type": "integer",
                                            "example": "500"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/modalitats_tots": {
            "get": {
                "tags": [
                    "Modalitats"
                ],
                "summary": "Mostrar les modalitats",
                "description": "Display a listing of the resource.",
                "operationId": "2087a3fa235a4c344b577ab7fc16edd7",
                "responses": {
                    "200": {
                        "description": "Mostrar totes les modalitats.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/modalitats/{id}": {
            "get": {
                "tags": [
                    "Modalitats"
                ],
                "summary": "Mostrar una modalitat",
                "description": "Display the specified resource.",
                "operationId": "7e9fa3a5007822c3097071631713ee95",
                "requestBody": {
                    "required": true
                },
                "responses": {
[...]
